@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    text-shadow: 0 0 1px #000, 0 0 2px #000;
    background: #000000;
    font-family: 'Press Start 2P';
    font-weight: 700;
    font-size: 15px;
    line-height: 1.5em;
    color: #FAFAFA;
}

#log>div {
    /* Antes de "forwards" indicamos los segundos que deseamos que se mantengan los mensajes */
    animation: flipInY 500ms ease, fadeOut 1s ease 120s forwards;
    -webkit-animation: flipInY 500ms ease, fadeOut 1s ease 120s forwards;
}

.colon {
    display: none;
}

#log {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 10px 10px;
    width: 100%;
}

#log>div {
    display: block;
  clear: both;
}

#log>div.deleted {
    visibility: hidden;
}

#log .emote {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0.4em 0.2em;
    position: relative;
}

#log .emote img {
    display: inline-block;
    height: 1em;
    opacity: 0;
}

#log .message,#log .meta {
    vertical-align: top;
    padding-bottom: 0.5em;
}

#log .meta {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  padding-right: 0.5em;
  padding-bottom: 0px;
  padding-top: 1em;
}
#log .name::after {
  content: ":";
}

#log .message {
    word-wrap: break-word;
}

.badge {
    display: inline-block;
    margin-right: 0.2em;
    position: relative;
    height: 1em;
    vertical-align: middle;
    top: -0.15em;
}

.name {
    margin-left: 0.2em;
}
